html {
    font-size: 14px;
    scroll-behavior: smooth;
    background-color: #f8f9fa;
    
}
    @media (min-width: 768px) {
        html {
            font-size: 16px;
        }
    }

    .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 75%;
    margin: 1rem auto;
    padding: 2.5rem;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 1.2rem;
    background: #e9ecef;
    border-radius: 0.5rem;
}

.info {
    text-align: left;
    font-weight: bold;
    color: #343a40;
}

.refresh-btn {
    padding: 0.6rem 1.1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
    .refresh-btn:hover {
        background-color: #0056b3;
    }
    .refresh-btn:disabled {
        background-color: #dcdcdc;
        cursor: not-allowed;
    }

.buttons-container {
    display: flex;
    flex-direction: column; /* Butonları alt alta sıralar */
    gap: 10px; /* Butonlar arasına boşluk ekler */
}
.attendance-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .attendance-table th, .attendance-table td {
        border: 1px solid #ddd;
        padding: 0.9rem 0.2rem;
        text-align: center;
        font-size:1.1rem;
    }

    .attendance-table th {
        background-color: #007bff;
        color: white;
        font-weight: bold;
    }

    .attendance-table tr:nth-child(even) {
        background-color: #f8f9fa;
    }

.present {
    color: green;
    font-weight: bold;
}

.absent {
    color: red;
    font-weight: bold;
}
p {
    font-size: 1.2rem;
}